@font-face {
    font-family: 'MiSans-Normal';
    src: url('/custom/fonts/MiSans-Normal.woff2') format('woff2');   /* 提供 WOFF2 格式 */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}