@font-face {
    font-family: 'MiSans-Normal';
    src: url('/custom/fonts/MiSans-Normal.ttf') format('truetype'),
         url('/custom/fonts/MiSans-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}